user-item-github {
    .img-loaded+ion-spinner {
        display: none;
    }
    ion-thumbnail {
        position: relative;
        ion-spinner.abs {
            display: absolute;
            top: 0;
            left: 0;
        }
    }
}