page-home {
    ion-title {
        position: relative;
    }
    ion-note {
        font-size: 8px;
    }
    .tools {
        position: absolute;
        right: 0px;
        top: 0px;
        ion-icon {
            padding: 10px;
            font-size: 20px;
        }
    }
    .chatboxes {
        margin: -1px 0 0 0;
    }
    .friends {
        margin-bottom: 60px;
    }
    .dialogs {
        margin-bottom: 40px;
    }
}