page-user-search {
    .back {
        background-color: #eee;
        padding-top: 20px;
    }
    .img-loaded+ion-spinner {
        display: none;
    }
    ion-thumbnail {
        position: relative;
        ion-spinner.abs {
            display: absolute;
            top: 0;
            left: 0;
        }
    }
    .intro {
        background-color: #FEFEFE;
        margin: 0px;
        padding: 10px;
    }
}